/* 
100 - Thin
200 - Light
400 - Normal
500 - Medium
700 - Bold
800 - Extra Bold
*/

@font-face {
  font-family: 'Proxima';
  src: /* url('fonts/ProximaSoft-Thin.ttf') format('truetype'),       
       url('fonts/ProximaSoft-Light.ttf') format('truetype'), */
       url('fonts/ProximaSoft-Regular.ttf') format('truetype'),
       url('fonts/ProximaSoft-Medium.ttf') format('truetype'),
       url('fonts/ProximaSoft-Bold.ttf') format('truetype'),
       url('fonts/ProximaSoft-ExtraBold.ttf') format('truetype');
}

body {
  font-family: 'Proxima';
  margin: 0;
}

header {
  background: #d14635;
  text-align: center;
  padding: 50px 0 40px 0;
}

header h1 {
  color: #fff;
  font-size: 50px;
}

header img {
  width: 300px;
  border: 20px solid #fff;
  border-radius: 50%;
}

h1, h2 {
  font-family: 'Press Start 2P', cursive;
}

main {
  max-width: 800px;
  margin: 0 auto;
  line-height: 25px;
  font-size: 18px;
  padding: 20px;
}

main img {
  width: 100%;
}

main h2 {
  margin-top: 40px;
  font-size: 30px;
  color: #e70c19;
}

main a {
  color: #e70c19;
  text-decoration: none;
}

main a:hover {
  font-size: 30px;
}

.caption {
  color: #aaa;
  margin-top: 0;
  font-style: italic;
}

footer {
  background: #d14635;
  text-align: center;
  color: #fff;
  padding: 50px 0 10px;
}

footer p {
  margin: 0;
  font-size: 30px;
}

footer p a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}